<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../../../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header-div">
        <center><p class="header-title">CHANGE PASSWORD</p></center>
    </div>
    <!--MAIN CONTENT START-->

    <!-- USER INPUTS -->
    <div class="container">
        <p class="input-label3" style="margin-top: 2rem;">Moov Money Old Secret Code</p>
        <input class="inputs3" type="number" id="SecCode" name="Secret-code" placeholder="Enter the Old Secret Code" style="margin-bottom: 0.5rem">
    </div>

    <div class="container">
        <p class="input-label3">Moov Money New Secret Code</p>
        <input class="inputs3" type="number" id="new-sec-code" name="New-Sec-code" placeholder="Enter the New Secret Code" style="margin-bottom: 0.5rem">
    </div>

    <div class="container">
        <p class="input-label3">Confirm Moov Money New Secret Code</p>
        <input class="inputs3" type="number" id="con-new-sec-code" name="Con-New-Sec-Code" placeholder="Confirm the New Secret Code" style="margin-bottom: 2rem">
    </div>



    <!-- Fixed footer -->
      <div class="footer" style="font-size: 13px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>OKAY</p></div>
        <div class="footer-col"><p>BACK</p></div>
    </div>
</body>
</html>