<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moov Money</title>
    <link rel="stylesheet" href="../../../../../assets/css/main.css">
</head>
<body>
    <!--GENERAL CONTENT-->
    <div class="header-div">
        <center><p class="header-title">UPDATE ACCOUNT INFORMATION</p></center>
    </div>
    <!--MAIN CONTENT START-->

    <!-- USER INPUTS -->
    <div class="container">
        <p class="input-label3" style="margin-top: 2rem;">Birthday</p>
        <input class="inputs3" type="number" id="bithday" name="b-day" placeholder="Enter Birthday" style="margin-bottom: 0.5rem">
    </div>

    <div class="container">
        <p class="input-label3">Nationality</p>
        <input class="inputs3" type="number" id="nationality" name="national" placeholder="Enter Nationality" style="margin-bottom: 0.5rem">
    </div>

    <div class="container">
        <p class="input-label3">Current Address</p>
        <input class="inputs3" type="number" id="Address" name="address" placeholder="Enter Address" style="margin-bottom: 2rem">
    </div>



    <!-- Fixed footer -->
      <div class="footer" style="font-size: 13px;">
        <div class="footer-col"><p> &nbsp;&nbsp;&nbsp; </p></div>
        <div class="footer-col"><p>CONTINUE</p></div>
        <div class="footer-col"><p>BACK</p></div>
    </div>
</body>
</html>